<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>SEMrush test blog</title>

    <meta name="description" content="Test task for SEMrush">
    <meta name="author" content="Gonik Daniel">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="js/lib/modernizr-2.6.2.min.js"></script>
    <link rel="stylesheet" href="css/lib/grid.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/lib/tooltipster.css">
</head>

<body>
    
    <header></header>
    
    <div class="container">
        <div id="author" class="author twelve">
            <div class="three author-avatar">
                <img src="img/avatar.png" alt="">
                <button class="btn author-btn-social">Follow author</button>
                <ul class="follow-menu">
                    <li><a href=""><i class="follow-icon-site"></i> <span>sitekelseyjones.com</span></a></li>
                    <li><a href=""><i class="follow-icon-twitter"></i> <span>kelseyjones</span></a></li>
                    <li><a href=""><i class="follow-icon-linkedin"></i> <span>kelseyjones1986</span></a></li>
                    <li><a href=""><i class="follow-icon-google"></i> <span>kelsey_jones</span></a></li>
                </ul>
            </div>
            <div class="eight author-info offset-gap">
                <div class="author-info-name">Kelsey Jones</div>
                <div class="author-info-job">Executive editor at <a href="" class="author-info-job-company">The geek initiative</a></div>
                <div class="author-info-statistics">
                    <div class="two">Articles writen<span class="amount">256</span></div>
                    <div class="two">Comments posted<span class="amount">2568</span></div>
                    <div class="two">Webinars held<span class="amount">14</span></div>
                </div>
                <div class="author-info-about">
                    <h2 class="title">About me</h2>
                    <p class="text">When she's not editing and scheduling posts, managing the Marketing Nerds podcast, or helping with events and webinars, Kelsey Jones helps clients around the world grow their social media, content, and search marketing presence under her agency, MoxieDot. She has been working in digital marketing since 2007 and journalism since 2004. Kelsey enjoys writing and consuming all kinds of content.</p>
                </div>
                <div class="author-info-expertise">
                    <h2 class="author-info-expertise-title">My fields of expertise</h2>
                    <ul>
                        <li class="author-info-expertise-tag">Content marketing</li>
                        <li class="author-info-expertise-tag">AdWords</li>
                        <li class="author-info-expertise-tag">Google analytics</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="author-articles">
        <div class="container">
            <div class="author-articles-title">My latest articles</div>
            <ul class="author-articles-content">
                <li class="author-articles-article four hot-topic">
                    <div class="wrapper">
                        <div class="article-img">
                            <a href="">
                                <img src="./img/article1.png" alt="article1">
                            </a>
                        </div>
                        <div class="article-info">
                            <p class="article-info-general">
                                <span class="date">July 7, 2015</span>
                                <span class="topic">Paid search</span>
                            </p>
                            <h2 class="article-info-title"><a href="">The mystery of PPC, CTR and quality score</a></h2>

                            <p class="article-info-stat">
                                <span class="views"><a href=""><i class="views"></i> 658</a></span>
                                <span class="rating"><a href=""><i class="rating"></i> 4.2</a></span>
                                <span class="share"><a href=""><i class="share"></i> 256</a></span>
                                <ul class="share-block">
                                    <li><span class="share-tw"><i></i><span class="amount">51</span></span></li>
                                    <li><span class="share-fb"><i></i><span class="amount">46</span></span></li>
                                    <li><span class="share-gplus"><i></i><span class="amount">100</span></span></li>
                                    <li><span class="share-linkedin"><i></i><span class="amount">59</span></span></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="author-articles-article four offset-gap">
                    <div class="wrapper">
                        <div class="article-img">
                            <a href="">
                                <img src="img/article2.png" alt="article2">
                            </a>
                        </div>
                        <div class="article-info">
                            <p class="article-info-general">
                                <span class="date">July 7, 2015</span>
                                <span class="topic">Content marketing</span>
                            </p>
                            <h2 class="article-info-title"><a href="">What Hollywood taught me about content marketing</a></h2>

                            <p class="article-info-stat">
                                <span class="views"><a href=""><i class="views"></i> 1236</a></span>
                                <span class="rating"><a href=""><i class="rating"></i> 4.8</a></span>
                                <span class="share"><a href=""><i class="share"></i> 256</a></span>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="author-articles-article four offset-gap">
                    <div class="wrapper">
                        <div class="article-img">
                            <a href="">
                                <img src="img/article3.png" alt="article3">
                            </a>
                        </div>
                        <div class="article-info">
                            <p class="article-info-general">
                                <span class="date">July 5, 2015</span>
                                <span class="topic">Content marketing</span>
                            </p>
                            <h2 class="article-info-title"><a href="">How to find keywords in SEMrush</a></h2>

                            <p class="article-info-stat">
                                <span class="views"><a href=""><i class="views"></i> 21</a></span>
                                <span class="rating"><a href=""><i class="rating"></i> 5.0</a></span>
                                <span class="share"><a href=""><i class="share"></i> 15</a></span>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="author-articles-article four">
                    <div class="wrapper">
                        <div class="article-img">
                            <a href="">
                                <img src="img/article4.png" alt="article4">
                            </a>
                        </div>
                        <div class="article-info">
                            <p class="article-info-general">
                                <span class="date">July 3, 2015</span>
                                <span class="topic">Paid search</span>
                            </p>
                            <h2 class="article-info-title"><a href="">Apple launches streaming music service: will users pay?</a></h2>

                            <p class="article-info-stat">
                                <span class="views"><a href=""><i class="views"></i> 658</a></span>
                                <span class="rating"><a href=""><i class="rating"></i> 4.2</a></span>
                                <span class="share"><a href=""><i class="share"></i> 256</a></span>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="author-articles-article four offset-gap no-image">
                    <div class="wrapper">
                        <div class="article-img">
                            <a href="">
                               <!--<img src="" alt="">-->
                            </a>
                        </div>
                        <div class="article-info">
                            <p class="article-info-general">
                                <span class="date">June 30, 2015</span>
                                <span class="topic">Content marketing</span>
                            </p>
                            <h2 class="article-info-title"><a href="">What Hollywood taught me about content marketing</a></h2>

                            <p class="article-info-stat">
                                <span class="views"><a href=""><i class="views"></i> 1236</a></span>
                                <span class="rating"><a href=""><i class="rating"></i> 4.8</a></span>
                                <span class="share"><a href=""><i class="share"></i> 256</a></span>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="author-articles-article four offset-gap">
                    <div class="wrapper">
                        <div class="article-img">
                            <a href="">
                                <img src="img/article6.png" alt="article6">
                            </a>
                        </div>
                        <div class="article-info">
                            <p class="article-info-general">
                                <span class="date">June 25, 2015</span>
                                <span class="topic">Content marketing</span>
                            </p>
                            <h2 class="article-info-title"><a href="">ICYMI: people-oriented content, local serch tips & SEMrush domain overview</a></h2>

                            <p class="article-info-stat">
                                <span class="views"><a href=""><i class="views"></i> 21</a></span>
                                <span class="rating"><a href=""><i class="rating"></i> 5.0</a></span>
                                <span class="share"><a href=""><i class="share"></i> 15</a></span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="subscription-wrapper">
        <div class="container">
            <form class="subscription">
                <p>Subscribe to the SEMrush Blog to get the best articles delivered  right to your inbox monthly</p>
                <input class="subscription-mail" name="subscription-mail" type="text" placeholder="Enter your email">
                <button class="btn subscription-submit">Subscribe</button>
                
                <div class="subscription-error">
                    Subscription failed. Please try again.
                </div>
            </form>
        </div>
    </div>
    
    <div class="comments">
        <div class="container">
           <div class="ten offset-by-one comments-content">
                <h2>Comments <span class="comments-amount">3</span></h2>
                <div class="comments-login">
                    <form action="" name="comments-login">
                        <input class="comments-login-email" name="comments-login-email" type="text" placeholder="Enter your email">
                        <button class="btn comments-login-submit">Submit</button>
                    </form>
                </div>
                <form class="comments-new-comment">
                    <textarea name="new-comment" id="new-comment"></textarea>
                    <button class="comments-new-comment-submit tooltip" title="You have to login first">Post</button>
                </form>
                <div class="comments-comment">
                    <img src="img/comment-avatar1.png" class="comment-avatar one" alt="comment-avatar1">
                    <div class="comment-content nine">
                        <p class="comment-content-title">
                            <span class="name">Robby Wilson</span>
                            <span class="time">•  5 hours ago</span>
                        </p>
                        <p class="comment-content-text">
                           Podcasts are making a mighty comeback of late, which has been impossible to not notice to those of us in the digital marketing world. Only a few years ago they were dead as a doornail, and seemed to be headed on a one way trip to the tech graveyard (Like AOL Instant messenger, a mainstay of my youth). <br><br>
                           I am ashamed to admit this, but I have never actually produced a podcast, though I have produced about every other form of shareable media known to nerd kind. This is all great advice regardless of the medium involved.</p>
                        <p class="comment-content-like-reply">
                            <span class="amount positive">+5</span>
                            <i class="like"></i>
                            <i class="dislike"></i>
                            <a href="" class="reply">• Reply</a>
                        </p>
                    </div>
                </div>
                <div class="comments-comment reply">
                    <img src="img/comment-avatar2.png" class="comment-avatar one" alt="comment-avatar2">
                    <div class="comment-content eight">
                        <p class="comment-content-title">
                            <span class="name">Mohamed Ouniri</span>
                            <span class="replied"><i></i> Robby Wilson</span>
                            <span class="time">• 1 day ago</span>
                        </p>
                        <p class="comment-content-text">
                            If you setup your accont today then at the end of six months you have so many connection in your account and it will be easy for you to promote your product over there. You can also join relevant group of your industry.
                        </p>
                        <p class="comment-content-like-reply">
                            <span class="amount negative">-1</span>
                            <i class="like"></i>
                            <i class="dislike"></i>
                            <a href="" class="reply">• Reply</a>
                        </p>
                    </div>
                </div>
                <div class="comments-comment">
                    <img src="img/comment-avatar3.png" class="comment-avatar one" alt="comment-avatar3">    
                    <div class="comment-content nine">
                        <p class="comment-content-title">
                            <span class="name">Awazie ikechi</span>
                            <span class="time">• 12 hours ago</span>
                        </p>
                        <p class="comment-content-text">
                            Thanks for this post, it is what I needed right at this moment. I have been avoiding marketing and this really bought home, just how important it is. I am planning my marketing steps at the moment. Trying to get into the swing of things. <br><br>
                            As I am a new blogger, I have decided on a six month rule, once I have proved that I am dedicated to blogging, I can stretch out and make more plans, but until I have done my six months of posting one article a week, I am not to spend. <br><br>
                            If you setup your accont today then at the end of six months you have so many connection in your account and it will be easy for you to promote your product over there. You can also join relevant group of your industry. 
                            <span class="show-less"><a href="">Show less</a></span>
                        </p>
                        <p class="comment-content-like-reply">
                            <span class="amount">0</span>
                            <i class="like"></i>
                            <i class="dislike"></i>
                            <a href="" class="reply">• Reply</a>
                        </p>
                    </div>
                </div>

                <script id="comment-template" type="text/x-handlebars-template">
                    <div class="comments-comment">
                        <img src="img/{{author_avatar}}" class="comment-avatar one" alt="comment-avatar3">    
                        <div class="comment-content nine">
                            <p class="comment-content-title">
                                <span class="name">{{author}}</span>
                                <span class="time">• {{time}}</span>
                            </p>
                            <p class="comment-content-text">
                                {{text}}
                                {{#if big_text}}
                                    <span class="show-less"><a href="">Show less</a></span>
                                {{/if}}
                            </p>
                            <p class="comment-content-like-reply">
                                <span class="amount">0</span>
                                <i class="like"></i>
                                <i class="dislike"></i>
                                <a href="" class="reply">• Reply</a>
                            </p>
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>

    <footer>
        <div class="container"><p>© 2008–2015 SEMrush. All rights reserved.</p></div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/lib/jquery-1.11.3.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/lib/jquery.tooltipster.min.js"></script>
    <script src="bower_components/handlebars/handlebars.min.js"></script>
    <script src="js/helpers.js"></script>
    <script src="js/comments.js"></script>
    <script defer src="js/main.js"></script>
</body>
</html>